.main {
  min-height: 100vh;
  padding-top: 6rem;
  background: var(--white-color);
}

.main.cyclic {
  background: radial-gradient(
      circle at 20% 30%,
      var(--primary-color) 1%,
      transparent 25%
    ),
    radial-gradient(
      ellipse at 80% 70%,
      var(--primary-color) 1.5%,
      var(--white-color) 40%
    ),
    radial-gradient(
      circle at center,
      var(--white-color) 35%,
      var(--primary-color) 36%,
      var(--white-color) 80%
    ),
    repeating-conic-gradient(
      from 0deg at center,
      var(--white-color) 0%,
      var(--primary-color) 1%,
      var(--white-color) 7%
    );
  background-blend-mode: screen, lighten, overlay, normal;
}

@media screen and (max-width: 576px) {
  .main {
    padding-top: 5rem;
  }
}
