.projects {
  background: radial-gradient(
      ellipse farthest-corner at top left,
      var(--primary-color) 0.5%,
      var(--white-color) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at top right,
      var(--primary-color) 0.5%,
      var(--white-color) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at bottom left,
      var(--primary-color) 0.5%,
      var(--white-color) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at bottom right,
      var(--primary-color) 0.5%,
      var(--white-color) 50%
    );
  background-blend-mode: lighten;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}
