.footer {
  background-color: var(--primary-color);
  padding-top: 3rem;
  color: white;
  font-size: 0.9rem;
}

.footer h3 {
  /* background: linear-gradient(to right, var(--dark-fixed-color), #777),
    var(--dark-fixed-color); */
  font-weight: 500;
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__description {
  width: 30rem;
}

.footer__description h3 {
  margin-bottom: 1rem;
}

.footer__contact {
  text-align: right;
}

.footer__contact ul {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer__contact ul a {
  color: white;
}

/* Footer Bottom */
.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid white;
}

.footer__navbar ul {
  display: flex;
  gap: 1rem;
}

.footer__navbar ul a {
  color: white;
}

@media screen and (max-width: 992px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footer__contact h3 {
    text-align: center;
  }

  .footer__contact ul {
    margin-top: 0.5rem;
    text-align: center;
  }

  .footer__description h3 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__bottom {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .footer__description {
    width: 100%;
  }

  .footer__navbar ul {
    justify-content: center;
  }
}
