.theme__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    color: #222;
    z-index: 99;
}

.theme__modal:hover{
    background-color: #ccc;
    border-color: #ccc;
}

.theme__primary button{
    width: 1rem;
    aspect-ratio: 1/1;
}

button.color-1{
    background-color: hsl(0, 88%, 36%);
}

.color-2{
    background-color: hsl(45, 88%, 36%);
}

.color-3{
    background-color: hsl(90, 88%, 36%);
}

button.color-4{
    background-color: hsl(135, 88%, 36%);
}

.color-5{
    background-color: hsl(180, 88%, 36%);
}

.color-6{
    background-color: hsl(225, 88%, 36%);
}

.color-7{
    background-color: hsl(270, 88%, 36%);
}

.color-8 {
    background-color: hsl(315, 88%, 36%);
}