.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9;    
    animation: backdropAnimation 500ms ease forwards;
}

@keyframes backdropAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}