@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-hue: 140;

  --white-lightness: 94%;
  --light-lightness: 85%;
  --dark-lightness: 16%;
  --black-lightness: 6%;

  --primary-color: hsl(var(--primary-hue), 88%, 36%);
  --white-color: hsl(var(--primary-hue), 0%, var(--white-lightness));
  --light-color: hsl(var(--primary-hue), 0%, var(--light-lightness));
  --dark-color: hsl(var(--primary-hue), 0%, var(--dark-lightness));
  --black-color: hsl(var(--primary-hue), 0%, var(--black-lightness));

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 1rem;
  --border-radius-4: 2rem;

  --container-width-lg: 84%;
  --container-width-md: 90%;

  --transition: all 300ms ease;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
main.bg-2{
  --white-lightness: 4%;
  --light-lightness: 18%;
  --dark-lightness: 85%;
  --black-lightness: 94%;

  --white-color: hsl(var(--primary-hue), 0%, var(--white-lightness));
  --light-color: hsl(var(--primary-hue), 0%, var(--light-lightness));
  --dark-color: hsl(var(--primary-hue), 0%, var(--dark-lightness));
  --black-color: hsl(var(--primary-hue), 0%, var(--black-lightness));
}

main.color-1{
  --primary-hue: 0;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-2{
  --primary-hue: 45;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-3{
  --primary-hue: 90;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-4{
  --primary-hue: 135;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-5{
  --primary-hue: 180;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-6{
  --primary-hue: 225;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-7{
  --primary-hue: 270;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}

main.color-8{
  --primary-hue: 315;
  --primary-color: hsl(var(--primary-hue), 88%, 36%);
}



body{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

main{
  color: var(--dark-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: var(--transition);
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1400px;
}

section{
  padding-block: 10rem;
  transition: var(--transition);
}

section > h1{
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(to right, var(--black-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

section > p{
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 4rem;
  width: 40%;
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;

}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.25rem;
}

h5{
  font-size: 1rem;
}

h6{
  font-size: 0.875rem;
}

.btn{
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 2.2rem;
  background-color: var(--light-color);
  border-radius: var(--border-radius-2);
  color: var(--black-color);
  cursor: pointer;
}

.btn:hover{
  opacity: .8;
}

.btn.white{
  background-color: var(--white-color);
}

.btn.black{
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn.primary{
  background-color: var(--primary-color);
  color: #fff;
}



.btn.sm{
  padding: 0.5rem 1.2rem;
}


@media screen and (max-width: 1024px){
  .container{
    width: var(--container-width-md);
  }
  
}

@media screen and (max-width: 768px){
  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.75rem;
  }

  h3{
    font-size: 1.3rem;
  }

  .btn{
    padding: 0.6rem 1.5rem;
  }
}

@media screen and (max-width: 600px){
  .btn{
    padding: 0.6rem 1.5rem;
  }
  section{
    padding-block: 6rem;
  }

  section > p{
    width: 100%;
  }
}