.navbar__container {
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  box-shadow: 0 0.1rem 1rem hsla(0, 5%, var(--black-lightness), 0.7);
  display: grid;
  align-items: center;
  z-index: 1;
  transition: var(--transition);
}

.navbar__container.navbar--scroll {
  background: linear-gradient(
    to bottom,
    hsla(0, 5%, var(--black-lightness), 0.55),
    hsla(0, 5%, var(--light-lightness), 0.8)
  );
  backdrop-filter: blur(10px);
}

.nav__container {
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 10rem));
  grid-template-rows: reepat(2, 2.25rem);
  gap: 0.5rem;
}

.logo {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.logo a {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.navbar__container.navbar--scroll .logo a {
  color: var(--black-color);
}

.search {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  align-content: center;
}

.login {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: end;
}

.inter {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--dark-fixed-color);
}

.inter a {
  color: var(--dark-fixed-color);
}

.login form {
  width: fit-content;
}

.login button {
  background: var(--dark-fixed-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}

.navbar__container.navbar--scroll .login button {
  background: linear-gradient(
    to right,
    var(--dark-fixed-color),
    var(--primary-color)
  );
  color: #fff;
}

.search__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.navbar__container.navbar--scroll .search__input {
  border-bottom: 1px solid
    hsl(var(--primary-hue), 0%, var(--black-lightness), 0.3);
  color: var(--black-color);
}

.search__input {
  grid-column: 1 / 11;
  grid-row: 1 / 2;
  padding: 6px 4px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: var(--transition);
}

.search__button {
  grid-column: 10 / 11;
  grid-row: 1 / 2;
  background-color: transparent;
  border: noen;
  cursor: pointer;
  color: #fff;
  transition: var(--transition);
}

.navbar__container.navbar--scroll .search__button {
  color: var(--black-color);
}

.nav__menu {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: var(--transition);
  display: grid;
  justify-content: center;
}

.menu__list {
  height: 100%;
  width: 36rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  align-items: center;
}

.navbar__container.navbar--scroll .nav__menu {
  border-top: 1px solid hsl(var(--primary-hue), 0%, var(--black-lightness), 0.3);
  border-bottom: 1px solid
    hsl(var(--primary-hue), 0%, var(--black-lightness), 0.3);
}

.navbar__container.navbar--scroll .menu__list a {
  color: var(--black-color);
}

.menu__item {
  height: 100%;
}

.menu__link {
  text-align: center;
  display: flex;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-wrap: nowrap;
  transition: var(--transition);
}

.menu__link:hover {
  background: hsl(var(--primary-hue), 0%, var(--black-lightness), 0.5);
  color: var(--white-color);
}

.menu__link.active {
  background: var(--light-color);
  color: var(--black-color);
}

.navbar__container.navbar--scroll .menu__link:hover {
  background: hsl(var(--primary-hue), 0%, var(--black-lightness), 0.5);
  color: var(--white-color);
}

.navbar__container.navbar--scroll .menu__link.active {
  background: var(--primary-color);
  color: white;
}

.menu__icon {
  display: none;
}

.menu__item-theme {
  display: none;
}

.menu__item-login {
  display: none;
}

.menu__item-inter-mobile {
  display: none;
}

.menu__item-search {
  display: none;
}

@media screen and (max-width: 992px) {
  .search {
    grid-column: 3 / 7;
  }
  .search__input {
    grid-column: 2 / 10;
  }
  .search__button {
    grid-column: 8 / 9;
  }
}

@media screen and (max-width: 678px) {
  .nav__menu {
    display: block;
  }
  .menu__list {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  }
  .logo {
    grid-column: 1 / 4;
  }
  .search {
    grid-column: 4 / 7;
  }

  .search__input {
    grid-column: 1 / 11;
  }

  .search__button {
    grid-column: 10 / 11;
  }

  .logo a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .inter {
    display: none;
  }
  .login {
    display: none;
  }

  .menu__icon {
    display: block;
    font-size: 1.5rem;
    color: white;
    display: flex;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__container {
    height: 5rem;
  }

  .search {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    left: -300px;
    bottom: 0;
    width: 300px;
    background-color: var(--primary-color);
    transition: left 500ms cubic-bezier(1, 0, 0, 1);
    padding-top: 4rem;
    padding-inline: 1.5rem;
    z-index: 2;
  }

  .nav__menu.active {
    left: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .menu__item {
    height: auto;
  }

  .navbar__container.navbar--scroll {
    background: var(--primary-color);
  }

  .menu__link {
    padding: 0.3rem;
    justify-content: flex-start;
  }

  .menu__link:hover {
    background: transparent;
    color: white;
  }

  .menu__link.active {
    background: hsl(var(--primary-hue), 0%, 88%, 0.3);
    color: var(--dark-fixed-color);
  }

  .menu__item-theme,
  .menu__item-login,
  .menu__item-inter-mobile,
  .menu__item-search {
    display: block;
  }

  .menu__login,
  .menu__theme {
    padding: 0.3rem;
    width: 100%;
    font: inherit;
    text-align: left;
    background: transparent;
    color: white;
  }

  .menu__login {
    text-align: center;
    background: var(--dark-fixed-color);
  }

  .menu__item-mobile {
    text-align: center;
    color: var(--dark-fixed-color);
    padding: 0.3rem;
  }

  .menu__item-mobile a {
    color: var(--dark-fixed-color);
  }

  .menu__item-search {
    padding: 0.3rem;
  }

  .menu__item-search .search__form {
    display: grid;
    grid-template-columns: repeat(10, 10%);
  }
}
