.form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form__group input,
.form__group textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  resize: none;
  border-radius: var(--border-radius-1);
}

.form__group textarea {
  height: 10rem;
}
